// Colors
$primary: #007bff;
$primary-2: darken($primary, 20%);
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;
$transparent: transparent;


// Screen Breakpoints
$xs: 575;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

// Fonts
$global-font: hind;